body { 
  background:url(../images/wallpaper_leaf.jpg) repeat-x #eaede1; 
  font-family:arial,helvetica,sans-serif; 
  color:#666666; 
  margin:0px;
  padding:0px;
  font-size:100% !important; font-size:16px;
}

/* Need this for IE 5, so that the font sizes within tables are not ridiculously huge */
body table {
  font-size:100% !important; font-size:16px;
}

a:link, a:visited { 
  color:#c86c12;
}
a:hover { 
  color:#5c7600; 
}
h1 { 
  font-weight:bold; 
  font-size:20px; 
}
h2 { 
  font-weight:bold; 
  font-size:20px; 
}
h3 { 
  font-weight:bold; 
  font-size:19px; 
}
textarea, input, select, textarea { 
  font-size:16px; 
  font-family:arial,helvetica,sans-serif; 
  font-weight:normal;
}
th { 
  color:#444444; 
  text-align:left; 
  font-size:16px; 
}
td { 
  color:#444444; 
  font-size:16px; 
}
ul { 
  display:inline; 
  list-style:circle inside; 
}
form { 
  display:inline; 
  padding:0px; 
  margin:0px;
}

.right { 
  text-align:right; 
} 
.left { 
  text-align:left; 
} 

.small {
  padding:0px;
  margin:0px;
}

.center { 
  text-align:center; 
} 
.nobr { 
  white-space:nowrap 
}

.hidden {
  display:none;
}
.padded {
  padding:8px;
}

#helper { 
  position:absolute; 
  visibility:hidden; 
  z-index:200;  
}
table.helper_table { 
  background-color:#fffdf2; 
  color:#666666; 
  border:3px solid #e0e0e0; 
  width:400px; 
  font-size:10px;
}

div.message { 
  padding:4px 4px; 
  margin:0px auto 12px auto; 
  border:1px solid #cccccc;
  background-color:#fffdf2; 
  width:60%; 
}
.bad { 
  color:#c84e12; 
  font-size:17px; 
}
.good { 
  color:#6e883b; 
  font-size:17px; 
}
.help { 
  color:black;  
  font-size:17px;
}


/* Main content boxes */ 
table.box { 
  border:1px solid #c7cfb8; 
  background-color:#f9f9f9; 
  margin-left:8px !important;  margin-left:0px;
  margin-right:8px !important;  margin-right:0px;
  margin-top:0px; 
  margin-bottom:14px; 
  vertical-align:top; 
  width:98%; 
} 
table.box th { 
  background: url(../images/bg_leaf.jpg) repeat-x; 
  color:#829858; 
  font-size:17px; 
} 
table.box th.center { 
  text-align:center; 
} 
table.box th.right table { 
  width:40%; 
} 

table.box th a:link, table.box th a:visited { 
  font-weight:bold; 
  color:#c86c12; 
  font-size:17px; 
}
table.box th a:hover { 
  font-weight:bold; 
  color:#5c7600; 
  font-size:17px; 
}

/* Calendar */
table.alloc_calendar { 
  width:100%; 
  border-right:1px solid #c7cfb8; 
  border-bottom:1px solid #c7cfb8;
} 
table.alloc_calendar td { 
  background-color:#f9f9f9; 
  border-left:1px solid #c7cfb8;  
  border-top:1px solid #c7cfb8; 
  width:10%; vertical-align:top;
  font-size:smaller;
}
table.alloc_calendar td.today { 
  background-color:#fffdf2; 
  border-top:2px solid #c7cfb8;  
  border-left:2px solid #c7cfb8;  
  border-right:1px solid #c7cfb8;  
  border-bottom:1px solid #c7cfb8; 
}
table.alloc_calendar td.today h1 {
  font-weight:bold;
}
table.alloc_calendar td.even { 
  background-color:#eeeeee; 
}
table.alloc_calendar td.absent {
  background-color:#cccccc;
  color:#999999;
}
table.alloc_calendar td.absent h1{
  color:#999999;
}
table.alloc_calendar h1 {
  text-align:right;
  font-size:16px;
  margin:0px;
  padding:3px;
  font-weight:normal;
}
table.alloc_calendar img {
  float:left;
  margin:0px;
}


/* Filters */
table.filter { 
  background-color:#f6f9ed; 
  border:2px dashed #c7cfb8; 
  padding:4px; 
  margin:4px; 
  margin-top:14px; 
  text-align:left;
}
table.filter th { 
  font-weight:bold; 
  background-color:#f6f9ed; 
  color:#444444; 
  border-bottom:0px solid #ffffff; 
  text-align:center; 
}

table.filter table.filter {
  border:2px dashed #e5e8d9; 
  margin:0px;
}

table.panel { 
  background-color:#f6f9ed; 
  height:100%; 
  border:1px solid #c7cfb8; 
}

tr.odd { 
  background-color:#eeeeee; 
}
tr.even { 
  background-color:#f9f9f9; 
}

.overdue { 
  color: #c84e12; 
}
.really_overdue { 
  font-weight:bold; 
  color: #c84e12;
}
.behind-target { 
  color: #ccaa00; 
}
.transaction-approved { 
  color: #6e883b; 
}
.transaction-pending { 
  color: black; 
}
.transaction-rejected { 
  color: #c84e12; 
}

.highlighted { 
  font-weight:normal; 
  font-style:normal; 
  background-color:#fffeb7; 
  padding:0px 3px;
}

table.tasks { 
  width:100%; 
  border-right:1px solid #c7cfb8; 
  border-bottom:1px solid #c7cfb8;
}
td.tasks { 
  background-color: #f6f9ed; 
  padding:4px; 
}
table.tasks th, table.alloc_calendar th { 
  border-bottom:0px; 
  font-weight:bold; 
  white-space:nowrap; 
  background:#e5e8d9; 
  color:#444444; 
}
.col { 
  border-left:1px solid #c7cfb8; 
  border-top:1px solid #c7cfb8; 
  padding:4px;
}

.grand_total { 
  border-top:1px solid black;
  text-align:right;
}

table.comments { 
  border:1px solid #c7cfb8; 
  background:#f6f9ed; 
  margin-bottom:4px; 
  margin-top:2px;
}
table.comments th { 
  text-align:left; 
  background:#f6f9ed; 
  vertical-align:top; 
  color:#444444; 
  font-weight:normal; 
  padding:4px; 
}
table.comments td { 
  padding:2px 4px; 
}

table.pending { 
  background-color:#f6f9ed; 
  border:1px solid #c7cfb8; 
}
table.warn { 
  background-color:#efe8d4; 
  border:1px solid #a6925b; 
}
table.approved { 
  background-color:#dde5cf; 
  border:1px solid #849d58; 
}
table.rejected { 
  background-color:#efded4; 
  border:1px solid #b37a5d; 
}


#all {
  width:auto !important; width:95%;
  margin:0px 14px;
  text-align:center;
}

#menu {
  margin:0px;
  padding:0px;
  width:100%; 
  position:relative; 
  top:0px;
  margin-bottom:20px;
}

table.menu_top {
  position:relative;
  top:10px;
  margin:0px;
  padding:0px;
  text-align:left;
  font-size:12px;
  font-weight:bold;
  color:#5c7600;
}

.mtl {
  left:0px;
}

.mtr {
  right:0px !important; right:-14px;
}

table.menu_top th {
  text-align:left;
  font-size:17px;
}

table.menu_top td {
  text-align:right;
  font-size:12px;
}

table.menu_top .menu_form_text {
  font-size:12px !important; font-size:13px;
  padding:0px;
  margin:0px;
}

table.menu_top .menu_form_button {
  font-size:11px !important; font-size:11px;
  padding:0px 2px;
  margin:1px;
}

table.menu_top .menu_form_select {
  font-size:12px !important; font-size:11px;
  position:relative;
  top:0px !important; top:-2px;
}

/* Setup the main content box that encapsulates everything */
div#main {
  width:100%;
  margin:0px;
  padding:14px 0px !important; padding:14px 8px;
  background-color:white;
  border:1px solid #9c9c9c;
  position:relative;
  clear:both;
  text-align:left;
  margin-bottom:4px;
}

div#tabs {
  width:100%;
  margin:0px;
  padding:0px !important; padding:0px 16px;
  border:1px;
  clear:both;
  text-align:left;
  height:27px;
  position:relative;
  top:1px;
  left:1px;
  z-index:1;
}

/* A single image based tab */
div.tab {
  float:left;
  position:absolute;
  background:url(../images/tab_unselected.gif) top no-repeat;
  display:inline;
  width:80px;
  height:27px;
  text-align:center;
  font-size:12px;
}

/* Active tabs use this class as well */
div.active {
  background:url(../images/tab_selected.gif) top no-repeat;
}

div.tab a {
  font-weight:bold;
  text-decoration:none;
  position:relative;
  top:8px !important; top:7px;
  padding: 5px 10px;
}

div.tab a:link          { color:#5c7600;  }
div.tab a:visited       { color:#5c7600;  }
div.tab a:hover         { color:#829858; text-decoration:underline;}

div.active a:link, div.active a:visited {
  color:#829858;
  text-decoration:underline;
}

p#extra_links {
  font-size:12px;
  font-weight:bold;
  display:inline; 
  z-index:1; 
  position:relative; 
  float:right;
  right:0px; 
  top:9px; 
  padding:0px;
  margin:0px;
}



