
/* 
 * CSS for allocPSA
 * Note: you'll occassionally see a CSS hack like: width:90% !important; width:95%;
 * Good web browsers obey the first declaration "90%", IE5/6 will obey the latter. 
 */

html {
  height:100%;
}

body { 
  background:url(../images/wallpaper_leaf.jpg) repeat-x #eaede1; 
  font-family:arial,helvetica,sans-serif; 
  color:#666666; 
  padding:0px 14px;
  width:auto !important; width:95%;
  margin:0px;
  min-height:100%;
}

/* This should match the body font */
pre.comment {
  font-family:arial,helvetica,sans-serif;
  overflow:auto;
  white-space:pre-wrap;
}

/* Need this for IE 5, so that the font sizes within tables are not ridiculously huge */
body table {
  font-size:100%;
}

/* Setup the main content box that encapsulates everything */
div#main {
  width:100%;
  margin:0px;
  padding:0px 0px 14px 0px !important; padding:0px 16px;
  background-color:white;
  border:1px solid #9c9c9c;
  position:relative;
  clear:both;
  text-align:left;
  margin-bottom:4px;
}

/* Hack to ensure certain div encapsulate all the stuff inside them */
div#main:after, .edit:after, .view:after, .enclose:after, .wikidoc:after {
  content:"";
  display:block;
  height:0;
  clear:both;
}

div#main2 {
  margin:0px 1% !important; margin:auto;
}

a:link, a:visited { 
  color:#c86c12;
}
a:hover { 
  color:#5c7600; 
}

a.growshrink, a.magic {
  text-transform:none;
}

a.sidebyside {
  padding:5px;
  background-color: #f9f9f9;
  border:1px solid #cccccc;
  text-decoration:none;
  color:#9da973;
  font-size:100%; 
}
a.sidebyside:hover {
  background:#eeefe4;
  color:#9da973;
  border:1px solid #9da973;
}
a.sidebyside_active {
  background:#eeefe4;
  color:#9da973;
  border:1px solid #9da973;
  text-decoration:none;
  padding:5px;
  font-size:100%; 
}

h1 { 
  font-weight:bold; 
  font-size:150%; 
}
h2 { 
  font-weight:normal; 
  font-size:140%; 
  clear:both;
}
h3 { 
  font-weight:bold; 
  font-size:130%; 
}
h4 { 
  font-weight:bold; 
  font-size:120%; 
}
/* These are the little headers on the task page */
h6 {
  position:relative;
  font-size:90%;
  font-weight:normal;
  text-transform:uppercase;
  color:#bbbbbb;
  border-bottom:1px solid #cccccc;
  padding:0px;
  margin:20px 0px 10px 0px;
  clear:both;
}

/* For having a second column in the h6 */
h6 div {
  width:50%;
  float:right;
  display:inline;
  position:absolute;
  top:0px;
  right:0px !important; right:12px;
}

textarea, input, select, textarea { 
  font-size:100%; 
  font-family:arial,helvetica,sans-serif; 
  font-weight:normal;
}
th { 
  color:#444444; 
  text-align:left; 
  font-size:100%; 
}
td { 
  color:#444444; 
  font-size:100%; 
}
ul { 
  display:inline; 
  list-style:disc outside none
}

form { 
  display:inline; 
  padding:0px; 
  margin:0px;
}
div#main input[type="submit"],
div#main input[type="button"] {
  padding:4px;
}
input[type="text"], 
input[type="password"], 
input[type="checkbox"], 
textarea,
select {
  border: 1px solid #cccccc;
  background-color: #fcfcfc;
  text-transform:none; /* list.th turns options into uppercase */
}
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="checkbox"]:focus, 
textarea:focus,
select:focus {
  border: 1px solid #666666;
  background-color: #ffffff;
}
input[type="text"].bad,
input[type="password"].bad,
input[type="checkbox"].bad,
textarea.bad,
select.bad,
input[type="text"]:focus.bad,
input[type="password"]:focus.bad,
input[type="checkbox"]:focus.bad,
textarea:focus.bad,
select:focus.bad
{
  border:1px solid #cd7373;
  background-color: #ffffff;
}
input[readonly="true"], input[readonly="true"]:focus {
  border:1px solid #e0e0e0;
  background-color:#f9f9f9;
  color:#777777;
}

hr {
  border:0px;
  width: 100%;
  color: #ccc;
  background-color: #ccc;
  height:1px;
}

.right { 
  text-align:right; 
} 
.right a {
  margin-left:4px;
}

.left { 
  text-align:left; 
} 
.small {
  padding:0px;
  margin:0px;
}
.center { 
  text-align:center; 
} 
.nobr { 
  white-space:nowrap 
}
.hidden, .edit {
  display:none;
}
.edit, .view {
  clear:both;
}
.padded {
  padding:8px;
}
.bold {
  font-weight:bold;
}
.inline {
  display:inline;
}
.top {
  vertical-align:top;
}


#helper { 
  position:absolute; 
  z-index:2;
  background-color:#fffdf2;
  border:1px solid #cccccc;
  color:#666666;
  width:400px; 
  font-size:100%; 
  padding:8px;
}
.help_button {
  border:1px solid #999999;
  vertical-align:sub !important; vertical-align:bottom;
}
.help_button:hover {
  border:1px solid #cccccc;
}

.calendar_container {
  position:relative; 
  vertical-align:middle; 
  padding:0px; 
  margin:0px; 
  display:inline; 
  float:left;
}
.calendar_container img {
  vertical-align:text-bottom;
  cursor:pointer; 
  border:1px solid #999999;
  margin:0px; 
  padding:0px; 
  position:relative;
  top:0px !important; top:-2px;
}
.calendar_container img:hover {
  border: 1px solid #666666;
  background-color:#999999;
}
.calendar_container input {
  vertical-align:text-bottom;
}

.message { 
  padding:8px 4px; 
  margin:15px auto 0px auto; 
  border:1px solid #cccccc;
  background-color:#fffdf2;
}
.bad { 
  color:#c84e12; 
  font-size:100%; 
}
.good { 
  color:#6e883b; 
  font-size:100%; 
}
.help { 
  color:#666666;
  font-size:100%;
}


/* Main content boxes */ 
table.box { 
  border:1px solid #c7cfb8; 
  background-color:#f9f9f9; 
  vertical-align:top; 
  width:100%; 
  margin:14px 0px 0px 0px;
  border-collapse:collapse;
  border-spacing:0px;
} 
table.box th { 
  color:#829858; 
  font-size:110%; 
  padding:3px;
  font-weight:normal;
  background: url(../images/bg_leaf.jpg) repeat-x; border-bottom:1px solid #e0e0e0;; 
} 
table.box th.center { 
  text-align:center; 
} 
table.box th.right table { 
  width:40%; 
} 
table.box th a:link, table.box th a:visited { 
  font-weight:normal; 
  color:#c86c12; 
}
table.box th a:hover { 
  font-weight:normal; 
  color:#5c7600; 
}
table.box td {
  padding:3px;
}

table.box th.header span {
  float:right;
}
table.box th.header span a {
  margin-left:0.2em;
  font-size:90%;
}
table.box th.header b {
  font-weight:normal;
  font-size:90%;
}

/* Calendar */
table.alloc_calendar { 
  width:100%; 
  border-right:1px solid #c7cfb8; 
  border-bottom:1px solid #c7cfb8;
} 
table.alloc_calendar td { 
  background-color:#f9f9f9; 
  border-left:1px solid #c7cfb8;
  border-top:1px solid #c7cfb8; 
  width:10%; vertical-align:top;
}
table.alloc_calendar td.today { 
  background-color:#fffdf2;
  border-top:2px solid #c7cfb8;
  border-left:2px solid #c7cfb8;
  border-right:1px solid #c7cfb8;
  border-bottom:1px solid #c7cfb8; 
}
table.alloc_calendar td.today h1 {
  font-weight:bold;
}
table.alloc_calendar td.even { 
  background-color:#f4f4f4; 
}
table.alloc_calendar td.absent {
  background-color:#cccccc;
  color:#999999;
}
table.alloc_calendar td.absent h1{
  color:#999999;
}
table.alloc_calendar h1 {
  text-align:right;
  font-size:100%;
  margin:0px;
  padding:3px;
  font-weight:normal;
}
table.alloc_calendar img {
  float:left;
  margin:0px;
}
table.alloc_calendar td:hover { 
  background-color:#fdfff6; 
}

/* Filters */
table.filter { 
  background-color:#eeefe4; 
  border:1px solid #c7cfb8; 
  padding:4px; 
  margin-top:4px; 
  text-align:left;
  display:none;
}

table.filter td {
  color:#9da973; 
}

.filter table td { 
  color:#9da973; 
}
.filter table th { 
  font-weight:bold; 
  background-color:#eeefe4; 
  color:#444444; 
  border-bottom:0px solid #ffffff; 
  text-align:center; 
}

tr.odd { 
  background-color:#f4f4f4; 
}
tr.even { 
  background-color:#f9f9f9; 
}
tr.odd:hover, tr.even:hover {
  background-color:#fdfff6; 
}

img.taskType {
  margin:0px 2px;
  padding:0px;
}

.corner {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border-collapse:separate; /* to prevent border-collapse:collapse being inherited */
}

.shadow {
  -moz-box-shadow:4px 4px 5px #bbbbbb;
  -webkit-box-shadow:4px 4px 5px #bbbbbb;
  box-shadow:4px 4px 5px #bbbbbb;
}

.overdue { 
  color: #c84e12; 
}
.really_overdue { 
  font-weight:bold; 
  color: #c84e12;
}
.behind-target { 
  color: #ccaa00; 
}
.transaction-approved { 
  color: #6e883b; 
}
.transaction-pending { 
  color: #666666; 
}
.transaction-rejected { 
  color: #c84e12; 
}

.highlighted { 
  font-weight:normal; 
  font-style:normal; 
  background-color:#fffeb7; 
  padding:0px 3px;
}

table.list { 
  width:100%; 
  border-left:1px solid #c7cfb8; 
  border-right:1px solid #c7cfb8; 
  border-bottom:1px solid #c7cfb8;
  border-collapse:collapse;
  border-spacing:0px;
}
td.list { 
  background-color: #eeefe4; 
  padding:4px; 
}
table.list th, table.alloc_calendar th { 
  border-bottom:0px; 
  font-weight:normal; 
  white-space:nowrap; 
  background:#eeefe4; 
  color:#9da973; 
  font-size:90%;
  text-transform:uppercase;
}
table.list tr:last-child th {
  font-size:100%;
}
table.list td, table.list th, table.alloc_calendar th { 
  border-top:1px solid #c7cfb8; 
  padding:4px;
}
table.alloc_calendar th { 
  border-left:1px solid #c7cfb8; 
}
.sort_arrows {
  padding:0px 3px;
}
table.list td.grand_total, .grand_total { 
  border-top:1px solid black;
}

/* .panel tables (Harpo) have a blue border and a light blue background in the default theme.
   When a .panel table is inside another .panel table (Chico), the border and the background 
   are lighter.

   When a table has .panel and .loud (Groucho), then the table has an orange border with a light
   orange background. And correspondingly, any inner .panel's (Zeppo) render more lightly.
*/
table.panel div.hidden_text {
  color:#888888;
  font-style:italic;
}
table.panel { 
  border:1px solid #c7cfb8; 
  background:#eeefe4; 
  margin-bottom:5px; 
  margin-top:0px;
  /* table-layout:fixed; nested divs that are overflow:auto no longer scroll off the screen */
}
table.loud {
  border:1px solid #e7ba98; 
  background:#fff7ed; 
}
table.panel table.panel {
  border:1px solid #e5e8d9; 
  background:#ffffff; 
  margin-bottom:6px; 
}
table.loud table.panel {
  border:1px solid #ffe5c4; 
  background:#ffffff; 
}
table.panel th { 
  text-align:left; 
  background:#eeefe4; 
  vertical-align:top; 
  color:#444444; 
  font-weight:normal; 
  padding:4px; 
  border:0px solid black;
  text-transform:none; /* list.th turns these uppercase */
  font-size:100%;
}
table.loud th {
  background:#fff7ed; 
}
table.panel td { 
  background:#eeefe4;
  padding:4px; 
  border:0px solid black;
}
table.quiet {
  border: 1px solid #e0e0e0;
}
table.quiet td, table.quiet a { 
  background:#f9f9f9;
  color:#aaaaaa;
}
table.loud td {
  background:#fff7ed;
}
table.panel td table.panel { 
  background:#ffffff; 
}
table.loud td table.panel { 
  background:#ffffff; 
}
table.panel td table.panel th { 
  background:#ffffff;
}
table.loud td table.panel th { 
  background:#ffffff;
}
table.panel td table.panel td { 
  background:#ffffff;
}
table.loud td table.panel td { 
  background:#ffffff;
}



.faint {
  color:#888888;
  font-style:normal;
}

.warn { 
  color:#e17a00;
}
table.pending { 
  background-color:#eeefe4; 
  border:1px solid #c7cfb8; 
}
table.warn { 
  background-color:#fff7ed; 
  border:1px solid #e7ba98; 
}
table.approved { 
  background-color:#dde5cf; 
  border:1px solid #849d58; 
}
table.rejected { 
  background-color:#f7e9e8; 
  border:1px solid #be9a9e; 
}

#menu {
  margin:0px;
  padding:0px;
  width:100%; 
  position:relative; 
  top:0px;
  margin-bottom:20px;
}

#menu table {
  position:relative;
  top:10px;
  margin:0px;
  padding:0px;
  text-align:left;
  font-size:12px; /* hardcoded */
  color:#5c7600;
}

#menu table td {
  color:#333333;
}

#menu select {
  position:relative;
  top:0px !important; top:-2px;
}

div#tabs {
  margin:0px;
  padding:0px !important; padding:0px 16px;
  border:1px;
  clear:both;
  text-align:left;
  height:27px;
  position:relative;
  top:1px;
  left:1px;
  z-index:1;
}

/* A single image based tab */
div.tab {
  float:left;
  position:absolute;
  display:inline;
  width:80px;
  height:27px;
  text-align:center;
  font-size:12px; /* hardcoded */
  background:url(../images/tab_unselected.gif) top no-repeat;
}

/* Active tabs use this class as well */
div.active {
  background:url(../images/tab_selected.gif) top no-repeat;
}

div.tab a {
  text-decoration:none;
  position:relative;
  top:8px !important; top:7px;
  padding: 5px 10px;
}

div.tab a:link    { color:#5c7600;  }
div.tab a:visited { color:#5c7600;  }
div.tab a:hover   { color:#829858;}

p#extra_links a:link    { color:#c86c12;  }
p#extra_links a:visited { color:#c86c12;  }
p#extra_links a:hover   { color:#5c7600;}

p#extra_links a:link,
p#extra_links a:visited,
p#extra_links a:hover {
  text-decoration:none;
  position:relative;
  top:8px !important; top:7px;
  padding: 5px 0px;
}

div.active a:link, div.active a:visited {
  color:#829858;
}

p#extra_links {
  font-size:12px; /* hardcoded */
  font-weight:normal;
  z-index:-1; 
  position:relative; 
  float:right;
  right:0px !important; right:-16px; 
  padding:0px !important; padding:0px 16px;
  height:27px;
  margin:0px;
  clear:both;
}

div.grippie {
  background:#eeeeee Url(../images/grippie.png) no-repeat scroll center 2px;
  border-color:#dddddd;
  border-style:solid;
  border-width:0pt 1px 1px;
  cursor:s-resize;
  height:9px;
  width:100% !important; width:95%;
  overflow:hidden;
  margin-bottom:5px;
}
div.grippie:hover {
  background:#fffae8 url(../images/grippie.png) no-repeat scroll center 2px;
}
/* IE fix */
.resizable-textarea textarea {
  display:block;
  margin-bottom:0pt;
  width:100% !important; width:95%;
  height: 20%;
}


/* CSS for the login form */

body#login {
  background-color:#eeeeee;
  background-image:none;
  padding-top:40px;
}

body#login .width {
  width:300px;
  margin: 30px auto;
  padding:15px;
}

body#login .whitely {
  border:1px solid #cccccc;
  background-color:#ffffff;
}

body#login #links {
  background: transparent url(../images/roundbg.png) no-repeat bottom left;
  text-align:right;
  padding-bottom:30px;
  margin-bottom:35px;
}

body#login span {
  display:inline-block;
  text-align:right;
  white-space:nowrap;
  width:37%;
  margin:5px;
}

body#login input[type=text], body#login input[type=password] {
  width:100%;
}

body#login #footer {
  color:#999999;
  text-align:center;
  font-size:80%;
}

body#login #slowest_query_1,
body#login #slowest_query_2,
body#login #all_page_queries_1,
body#login #all_page_queries_2 {
  display:none;
}

body.obfus .obfuscate {
  color:#e0e0e0 !important;
  background-color:#e0e0e0 !important;
}

body.obfus .obfuscate:hover {
  color:#666666 !important;
  background-color:transparent !important;
}


/* CSS for multi-selects */
.ui-dropdownchecklist {
  font-size: 100%;
  color: black;
  text-align:left;
}
.ui-dropdownchecklist-selector {
  color: black;
  height: 12px;
  border: 1px solid #cccccc;
  background: url(../images/arrow_faded_ms.gif) center right no-repeat #fcfcfc;
}
.ui-state-active {
  border: 1px solid #666666;
  background-color: #ffffff;
}
.ui-dropdownchecklist-dropcontainer {
  background-color: #fff;
  border: 1px solid #999;
}
.ui-dropdownchecklist-item:hover {
  background-color:#fffeb7;
}
.ui-state-hover {
}
.ui-state-disabled label {
  color: #ccc;
}
.ui-dropdownchecklist-group {
  font-weight: bold;
  font-style: italic;
}
.ui-dropdownchecklist-indent {
  padding-left: 7px;
}
/* Font size of 0 on the -selector and an explicit medium on -text required to eliminate
   descender problems within the containers and still have a valid size for the text */
.ui-dropdownchecklist-selector-wrapper {
  vertical-align: middle;
}
.ui-dropdownchecklist-selector {
  padding: 1px 2px 2px 2px;
  padding-right:12px;
}
.ui-dropdownchecklist-text {
  font-size: 100%;
  /* line-height: 20px; */
}
.ui-dropdownchecklist-group {
  padding: 1px 2px 2px 2px;
}

