ul.jqueryFileTree {
	font-size: 100%;
	line-height: 18px;
	padding: 0px;
	margin: 0px;
}
ul.jqueryFileTree li {
	list-style: none;
	padding: 0px;
	padding-left: 20px;
	margin: 0px;
	white-space: nowrap;
}
ul.jqueryFileTree a.file {
	color: #333;
	text-decoration: none;
	display:block;
	padding: 0px 2px;
	white-space: nowrap;
}
ul.jqueryFileTree a.faint {
  color:#ccc;
}
ul.jqueryFileTree a.file:hover {
	background: #eeeeee;
}
ul.jqueryFileTree li div {
  display:inline; 
  float:right; 
  text-align:right; 
  top:0px; 
  right:0px;
}

h5.jftTop { 
  position:relative;
  font-size:120%;
  font-weight:bold;
  text-transform:none;
  border-bottom:1px solid #e0e0e0;
  padding:10px 0px 20px 0px;
  margin:0px 0px 10px 0px;
  clear:both;
}
h5.jftTop input {
  font-size:80%;
}
h5.jftBot { 
  position:relative;
  font-size:100%;
  font-weight:normal;
  text-transform:none;
  border-top:1px solid #e0e0e0;
  padding:20px 0px 10px 0px;
  margin:10px 0px 0px 0px;
  clear:both;
}
#jftTreeTD {
  vertical-align:top; 
  width:230px; 
  border-right:1px solid #cccccc; 
  padding:10px;
}
#jftTree {
  overflow:auto;
}
#jftFileTD {
  padding:10px;
  vertical-align:top;
}
#jftInfoTD {
  vertical-align:top; 
  width:230px; 
  border-left:1px solid #cccccc; 
  padding:10px;
}

/* Core Styles */
.jqueryFileTree li.directory { background: url(../images/fileicons/directory.png) left top no-repeat; }
.jqueryFileTree li.expanded  { background: url(../images/fileicons/folder_open.png) left top no-repeat; }
.jqueryFileTree li.file      { background: url(../images/fileicons/file.png) left top no-repeat; }
.jqueryFileTree li.wait      { background: url(../images/fileicons/spinner.gif) left top no-repeat; }
/* File Extensions*/
.jqueryFileTree li.ext_3gp   { background: url(../images/fileicons/film.png) left top no-repeat; }
.jqueryFileTree li.ext_afp   { background: url(../images/fileicons/code.png) left top no-repeat; }
.jqueryFileTree li.ext_afpa  { background: url(../images/fileicons/code.png) left top no-repeat; }
.jqueryFileTree li.ext_asp   { background: url(../images/fileicons/code.png) left top no-repeat; }
.jqueryFileTree li.ext_aspx  { background: url(../images/fileicons/code.png) left top no-repeat; }
.jqueryFileTree li.ext_avi   { background: url(../images/fileicons/film.png) left top no-repeat; }
.jqueryFileTree li.ext_bat   { background: url(../images/fileicons/application.png) left top no-repeat; }
.jqueryFileTree li.ext_bmp   { background: url(../images/fileicons/picture.png) left top no-repeat; }
.jqueryFileTree li.ext_c     { background: url(../images/fileicons/code.png) left top no-repeat; }
.jqueryFileTree li.ext_cfm   { background: url(../images/fileicons/code.png) left top no-repeat; }
.jqueryFileTree li.ext_cgi   { background: url(../images/fileicons/code.png) left top no-repeat; }
.jqueryFileTree li.ext_com   { background: url(../images/fileicons/application.png) left top no-repeat; }
.jqueryFileTree li.ext_cpp   { background: url(../images/fileicons/code.png) left top no-repeat; }
.jqueryFileTree li.ext_css   { background: url(../images/fileicons/css.png) left top no-repeat; }
.jqueryFileTree li.ext_doc   { background: url(../images/fileicons/doc.png) left top no-repeat; }
.jqueryFileTree li.ext_exe   { background: url(../images/fileicons/application.png) left top no-repeat; }
.jqueryFileTree li.ext_gif   { background: url(../images/fileicons/picture.png) left top no-repeat; }
.jqueryFileTree li.ext_fla   { background: url(../images/fileicons/flash.png) left top no-repeat; }
.jqueryFileTree li.ext_h     { background: url(../images/fileicons/code.png) left top no-repeat; }
.jqueryFileTree li.ext_htm   { background: url(../images/fileicons/html.png) left top no-repeat; }
.jqueryFileTree li.ext_html  { background: url(../images/fileicons/html.png) left top no-repeat; }
.jqueryFileTree li.ext_jar   { background: url(../images/fileicons/java.png) left top no-repeat; }
.jqueryFileTree li.ext_jpg   { background: url(../images/fileicons/picture.png) left top no-repeat; }
.jqueryFileTree li.ext_jpeg  { background: url(../images/fileicons/picture.png) left top no-repeat; }
.jqueryFileTree li.ext_js    { background: url(../images/fileicons/script.png) left top no-repeat; }
.jqueryFileTree li.ext_lasso { background: url(../images/fileicons/code.png) left top no-repeat; }
.jqueryFileTree li.ext_log   { background: url(../images/fileicons/txt.png) left top no-repeat; }
.jqueryFileTree li.ext_m4p   { background: url(../images/fileicons/music.png) left top no-repeat; }
.jqueryFileTree li.ext_mov   { background: url(../images/fileicons/film.png) left top no-repeat; }
.jqueryFileTree li.ext_mp3   { background: url(../images/fileicons/music.png) left top no-repeat; }
.jqueryFileTree li.ext_mp4   { background: url(../images/fileicons/film.png) left top no-repeat; }
.jqueryFileTree li.ext_mpg   { background: url(../images/fileicons/film.png) left top no-repeat; }
.jqueryFileTree li.ext_mpeg  { background: url(../images/fileicons/film.png) left top no-repeat; }
.jqueryFileTree li.ext_ogg   { background: url(../images/fileicons/music.png) left top no-repeat; }
.jqueryFileTree li.ext_pcx   { background: url(../images/fileicons/picture.png) left top no-repeat; }
.jqueryFileTree li.ext_pdf   { background: url(../images/fileicons/pdf.png) left top no-repeat; }
.jqueryFileTree li.ext_php   { background: url(../images/fileicons/php.png) left top no-repeat; }
.jqueryFileTree li.ext_png   { background: url(../images/fileicons/picture.png) left top no-repeat; }
.jqueryFileTree li.ext_ppt   { background: url(../images/fileicons/ppt.png) left top no-repeat; }
.jqueryFileTree li.ext_psd   { background: url(../images/fileicons/psd.png) left top no-repeat; }
.jqueryFileTree li.ext_pl    { background: url(../images/fileicons/script.png) left top no-repeat; }
.jqueryFileTree li.ext_py    { background: url(../images/fileicons/script.png) left top no-repeat; }
.jqueryFileTree li.ext_rb    { background: url(../images/fileicons/ruby.png) left top no-repeat; }
.jqueryFileTree li.ext_rbx   { background: url(../images/fileicons/ruby.png) left top no-repeat; }
.jqueryFileTree li.ext_rhtml { background: url(../images/fileicons/ruby.png) left top no-repeat; }
.jqueryFileTree li.ext_rpm   { background: url(../images/fileicons/linux.png) left top no-repeat; }
.jqueryFileTree li.ext_ruby  { background: url(../images/fileicons/ruby.png) left top no-repeat; }
.jqueryFileTree li.ext_sql   { background: url(../images/fileicons/db.png) left top no-repeat; }
.jqueryFileTree li.ext_swf   { background: url(../images/fileicons/flash.png) left top no-repeat; }
.jqueryFileTree li.ext_tif   { background: url(../images/fileicons/picture.png) left top no-repeat; }
.jqueryFileTree li.ext_tiff  { background: url(../images/fileicons/picture.png) left top no-repeat; }
.jqueryFileTree li.ext_txt   { background: url(../images/fileicons/txt.png) left top no-repeat; }
.jqueryFileTree li.ext_vb    { background: url(../images/fileicons/code.png) left top no-repeat; }
.jqueryFileTree li.ext_wav   { background: url(../images/fileicons/music.png) left top no-repeat; }
.jqueryFileTree li.ext_wmv   { background: url(../images/fileicons/film.png) left top no-repeat; }
.jqueryFileTree li.ext_xls   { background: url(../images/fileicons/xls.png) left top no-repeat; }
.jqueryFileTree li.ext_xml   { background: url(../images/fileicons/code.png) left top no-repeat; }
.jqueryFileTree li.ext_zip   { background: url(../images/fileicons/zip.png) left top no-repeat; }


.wikidoc h1 {
  font-size:170%;
  font-weight:normal;
  text-decoration:none;
  line-height:1.4em;
  padding-bottom:10px;
  text-transform:uppercase;
  color:#666666;
}
.wikidoc h2 {
  font-size:120%;
  font-weight:normal;
  text-decoration:none;
  border-bottom:1px solid #cccccc;
  padding-bottom:5px;
  text-transform:uppercase;
  margin-top:30px;
  color:#666666;
}
.wikidoc h3 {
  font-size:120%;
  font-weight:normal;
  text-decoration:none;
  text-transform:uppercase;
  margin-top:30px;
  margin-bottom:0px;
  padding-bottom:0px;
  color:#666666;
}
.wikidoc h4 {
  font-size:100%;
  font-weight:normal;
  text-transform:uppercase;
  border-bottom:1px solid #cccccc;
  padding-bottom:5px;
  margin-bottom:0px;
  margin-top:30px;
  color:#666666;
}
.wikidoc h5 {
  font-size:100%;
  font-weight:normal;
  text-transform:uppercase;
  padding-bottom:0px;
  margin-bottom:0px;
  margin-top:30px;
  color:#666666;
}
.wikidoc h6 {
  font-size:100%;
  font-weight:normal;
  text-decoration:none;
  text-transform:none;
  color:#666666;
}
.wikidoc {
  background-color:white; 
  padding:10px 30px 20px 30px;
  border:1px solid #e0e0e0;
  line-height:140%;
}

.wikidoc h1 + h2, .wikidoc h2 + h3, .wikidoc h3 + h4, .wikidoc h4 + h5, .wikidoc h5 + h6 {
  padding-top:10px;
}

.wikidoc blockquote {
  border-left:4px solid #eeeeee;
  padding-left:4px;
  margin-left:10px;
}

/* code -> backquote */
.wikidoc code {
  background-color: #f4f4f4;
  border: 1px solid #cccccc;
  padding: 0px 4px;
}

.wikidoc p + p {
  margin-top:14px;
}

.wikidoc pre code {
  border: 0px solid #cccccc;
  padding: 0px;
}
/* pre code -> four space indent sections */
.wikidoc pre {
  width: 100%;
  margin:0 auto;
  background-color: #f4f4f4;
  border: 1px solid #cccccc;
  padding: 4px;
  overflow: auto;
}

/* em -> single star text */
.wikidoc em {
  font-weight: bold;
  font-style: normal;
}

/* strong -> double star text */
.wikidoc strong {
  font-weight: bold;
  text-decoration:underline;
}

.wikidoc ol, .wikidoc ol li p {
  margin:0px;
}
.wikidoc ul, .wikidoc ul li p {
  margin:0px;
  padding:0px;
}
.wikidoc li {
  margin-top:2px;
}

.wikidoc table {
  border:1px solid #cccccc;
  background:#ffffff;
  color:#333333;
  margin:10px;
  clear:both;
}
.wikidoc table th {
  border:0px solid black;
  background:#eeeeee;
  color:#888888;
  font-size:90%;
  font-weight:normal;
  text-transform:uppercase;
  vertical-align:top;
}
.wikidoc td {
  border:0px solid black;
  border-top:1px solid #cccccc;
  background:#ffffff;
  background:#f9f9f9;
  color:#666666;
}


/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUpEditor {
  margin:0px;
  padding:0px;
  width:100%;
}
.markItUpPreviewFrame	{
  border:0px;
  width:100%;
  overflow:auto;
}
.markItUpFooter {
	width:100%;
}
.markItUpResizeHandle {
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
  background:#EEEEEE url(../images/grippie.png) no-repeat scroll center 2px;
  height:9px;
  border-color:#DDDDDD;
  border-style:solid;
  border-width:0pt 1px 1px;
  cursor:s-resize;
}

/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {
	background:transparent url(../images/mip/menu.png) no-repeat 115% 50%;
	margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:18px; left:0px;	
	background:#FFF;
	border:1px solid #000;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #000;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#FFF url(../images/mip/submenu.png) no-repeat 100% 50%;
}
.markItUpHeader ul .markItUpSeparator {
	margin:0 10px;
	width:1px;
	height:16px;
	overflow:hidden;
	background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px; left:150px; 
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:block;
	width:16px; height:16px;
	text-indent:-10000px;
	background-repeat:no-repeat;
	padding:3px;
	margin:0px;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	text-indent:0;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
	color:#FFF;
	background-color:#000;
}

/* markItUp! Settings for markdown based wiki editor */
.markItUp .markItUpButton1 a { background-image:url(../images/mip/h1.png); }
.markItUp .markItUpButton2 a { background-image:url(../images/mip/h2.png); }
.markItUp .markItUpButton3 a { background-image:url(../images/mip/h3.png); }
.markItUp .markItUpButton4 a { background-image:url(../images/mip/h4.png); }
.markItUp .markItUpButton5 a { background-image:url(../images/mip/h5.png); }
.markItUp .markItUpButton6 a { background-image:url(../images/mip/h6.png); }
.markItUp .markItUpButton7 a { background-image:url(../images/mip/bold.png); }
.markItUp .markItUpButton8 a { background-image:url(../images/mip/italic.png); }
.markItUp .markItUpButton9 a { background-image:url(../images/mip/list-bullet.png); }
.markItUp .markItUpButton10 a { background-image:url(../images/mip/list-numeric.png); }
.markItUp .markItUpButton11 a { background-image:url(../images/mip/picture.png); }
.markItUp .markItUpButton12 a { background-image:url(../images/mip/link.png); }
.markItUp .markItUpButton13 a { background-image:url(../images/mip/quotes.png); }
.markItUp .markItUpButton14 a { background-image:url(../images/mip/code.png); }
.markItUp .preview a { background-image:url(../images/mip/preview.png); }


