body                    { (BODY_BACKGROUND); font-family:arial,helvetica,sans-serif; color:(BODY_COLOR);}

a:link, a:visited       { color:(A_COLOR); }
a:hover                 { color:(A_HOVER); }

#helper                 { position:absolute; visibility:hidden; z-index:200;  }
table.helper_table      { background-color:white; color:#666666; border:1px solid #999999; width:400px; font-size:10px;}

h1                      { font-weight:bold; font-size:(H1_FONT_SIZE)px; }
h2                      { font-weight:bold; font-size:(H2_FONT_SIZE)px; }
h3                      { font-weight:bold; font-size:(H3_FONT_SIZE)px; }

textarea, input, select, textarea { font-size:(DEFAULT_FONT_SIZE)px; }

th                      { color:(TD_COLOR); text-align:left; }
th.right                { text-align:right; } 
td                      { color:(TD_COLOR); font-size:(DEFAULT_FONT_SIZE)px; }
ul                      { display:inline; list-style:circle inside; }

form                    { display:inline; }
.nobr                   { white-space:nowrap }

div.message             { border:(TABLE_BOX_BORDER_PX) solid (DIV_MESSAGE_BORDER_COLOR); padding:10px; margin-bottom:7px; background-color:(DIV_MESSAGE_BACKGROUND_COLOR); }
.bad                    { color:(TRANSACTION_REJECTED); font-weight:bold; font-size:(TABLE_BOX_TH_FONT_SIZE)px; }
.good                   { color:(TRANSACTION_APPROVED); font-weight:bold; font-size:(TABLE_BOX_TH_FONT_SIZE)px; }
.help                   { color:(TRANSACTION_PENDING);  font-weight:bold; font-size:(TABLE_BOX_TH_FONT_SIZE)px; }

table.box               { border:(TABLE_BOX_BORDER_PX) solid (TABLE_BOX_BORDER); background-color:(TABLE_BOX_BACKGROUND_COLOR); margin-bottom:7px; vertical-align:top; width:100%; } 
table.box th            { border-bottom:1px solid (TABLE_BOX_BORDER);  (TABLE_BOX_TH_BACKGROUND); color:(TABLE_BOX_TH_COLOR); font-size:(TABLE_BOX_TH_FONT_SIZE)px; } 
table.box th a:link     { font-weight:bold; color:(TABLE_BOX_TH_A_LINK_COLOR); font-size:(TABLE_BOX_TH_A_FONT_SIZE)px; }
table.box th a:visited  { font-weight:bold; color:(TABLE_BOX_TH_A_LINK_COLOR); font-size:(TABLE_BOX_TH_A_FONT_SIZE)px; }
table.box th a:hover    { font-weight:bold; color:(TABLE_BOX_TH_A_HOVER_COLOR); font-size:(TABLE_BOX_TH_A_FONT_SIZE)px; }
table.box th.center     { text-align:center; } 
table.box th.right table { width:40%; } 

table.menu a:link       { color:(TABLE_MENU_A_COLOR); font-weight:bolder;        }
table.menu a:visited    { color:(TABLE_MENU_A_COLOR); font-weight:bolder;        }
table.menu a:hover      { color:(TABLE_MENU_A_HOVER_COLOR); font-weight:bolder;  }
table.menu a.active     { color:(TABLE_MENU_A_ACTIVE_COLOR); }
td.menu                 { background-color:(TD_MENU_BACKGROUND_COLOR);}
td.menu_pane_left       { text-align:left; width:55%;}
td.menu_pane_right      { text-align:right; width:45%;}
td.menu_pane_left table { width:100%;}

table.calendar          { width:100%; border-right:1px solid (PANE_FRAME_COLOR); border-bottom:1px solid (PANE_FRAME_COLOR);} 
table.calendar td       { background-color:(PANE_BG_COLOR); border-left:1px solid (PANE_FRAME_COLOR);  border-top:1px solid (PANE_FRAME_COLOR); width:14%; vertical-align:top;}
table.calendar td.today { background-color:(TABLE_BOX_BACKGROUND_COLOR); width:14%;}

table.filter            { border:2px dashed (PANE_FRAME_COLOR); background-color:(PANE_BG_COLOR); padding:4px; margin:4px;}
table.filter th         { font-weight:bold; background-color:(PANE_BG_COLOR); color:(TD_COLOR); border-bottom:0px solid #ffffff; text-align:center; }

table.panel             { background-color:(PANE_BG_COLOR); height:100%; border:1px solid (PANE_FRAME_COLOR); }

tr.odd                  { background-color:(PANE_BG_COLOR); }
tr.even                 { background-color:(TR_EVEN_BACKGROUND_COLOR); }

.overdue                { color: (TRANSACTION_REJECTED); }
.really_overdue         { font-weight:bold; color: (TRANSACTION_REJECTED)}
.behind-target          { color: (BEHIND_TARGET); }

.transaction-approved   { color: (TRANSACTION_APPROVED); }
.transaction-pending    { color: (TRANSACTION_PENDING); }
.transaction-rejected   { color: (TRANSACTION_REJECTED); }

.highlighted            { font-weight:normal; font-style:normal; background-color:(HIGHLIGHTED_BACKGROUND_COLOR); padding:0px 3px;}

table.tasks             { width:100%; border-right:1px solid (PANE_FRAME_COLOR); border-bottom:1px solid (PANE_FRAME_COLOR);}
td.tasks                { background-color: (PANE_BG_COLOR); padding:4px; }

table.tasks th, table.calendar th { 
  border-bottom:0px; 
  font-weight:bold; 
  white-space:nowrap; 
  background:(PANE_BG_COLOR_HEADER); 
  color:(TD_COLOR); 
}

.col                    { border-left:1px solid (PANE_FRAME_COLOR); border-top:1px solid (PANE_FRAME_COLOR); padding:4px;}

td.grand_total          { border-top:1px solid black;}

table.comments          { border:1px solid (PANE_FRAME_COLOR); margin-bottom:4px; margin-top:2px; }
table.comments th       { text-align:left; background:(PANE_BG_COLOR); vertical-align:top; color:(TD_COLOR); border-bottom:1px solid (PANE_FRAME_COLOR); font-weight:normal; padding:4px; }
table.comments td       { padding:4px; }


