
# Setup file for installing allocPSA
#
#
# No variables in this file may be set to an empty string: ""

# MySQL database parameters
# The ALLOC_DB_USER will be deleted from mysql.user and mysql.db and 
# then added again with limited perms for the $ALLOC_DB_NAME database
ALLOC_DB_NAME="allocPSA"  # The name of the database that will be created
ALLOC_DB_USER="allocPSA"  # The database user that will be created, DO NOT USE THE 'root' USER! 
ALLOC_DB_PASS="$(echo \"$(date +%c) $(ps -ef)\" | md5sum | cut -b -8)"  # The password for this new user
ALLOC_DB_HOST="localhost" # The host the database is running on

# Set this to the user that your webserver runs as, normally it's httpd or apache
# Try apache, httpd or www-data
ALLOC_WEB_USER="www-data"

# Directories will be created and chmodded if they don't exist
ALLOC_DOCS_DIR="/var/lib/allocPSA" 
ALLOC_BACKUP_DIR="/var/lib/allocPSA/db_backups" 
ALLOC_LOG_DIR="/var/lib/allocPSA/logs" 


# The allocPSA cron jobs uses wget to hit the php scripts, and wget needs to know
# the web url to the php scripts. Eg: wget http://allocPSA/something/somewhere.php
# So in that case this ALLOC_WEB_URL_PREFIX would need to equal: http://allocPSA/
# Another example that is very useful: http://localhost/allocPSA/
ALLOC_WEB_URL_PREFIX="http://localhost/"

