
        h1                      { font-size:(H1_FONT_SIZE)px; }
        h2                      { font-size:(H2_FONT_SIZE)px; }
        h3                      { font-size:(H3_FONT_SIZE)px; }
        table.box th            { font-size:(TABLE_BOX_TH_FONT_SIZE)px; } 
        table.box th a:link     { font-size:(TABLE_BOX_TH_A_FONT_SIZE)px; }
        table.box th a:visited  { font-size:(TABLE_BOX_TH_A_FONT_SIZE)px; }
        table.box th a:hover    { font-size:(TABLE_BOX_TH_A_FONT_SIZE)px; }
        table.toolbar td        { font-size:(TABLE_TOOLBAR_TD_FONT_SIZE)px; }
        table.toolbar th        { font-size:(TABLE_TOOLBAR_TH_FONT_SIZE)px; }
        table.calendar th       { font-size:(TABLE_CALENDAR_TH_FONT_SIZE)px; }
        td                      { font-size:(TD_FONT_SIZE)px; }
        .bad                    { font-size:(TABLE_BOX_TH_FONT_SIZE)px; }
        .good                   { font-size:(TABLE_BOX_TH_FONT_SIZE)px; }
        .help                   { font-size:(TABLE_BOX_TH_FONT_SIZE)px; }
