body { 
  background-color:#eeeeee; 
  font-family:arial,helvetica,sans-serif;  
}
table.login { 
  position:relative; 
  background: transparent; 
  font-size:15px; 
  font-weight:normal; 
  clear:left; 
  color:#666666; 
}
table.login td { 
  padding:6px 0px; 
}

table.login td.message { 
  padding-top:0px;
  padding-bottom:15px;
  letter-spacing: 0.00em; 
}
table.login td.right { 
  text-align:right; 
  letter-spacing: 0.00em; 
  white-space:nowrap;
}
table.login td.left { 
  text-align:left;  
  letter-spacing: 0.00em;
}
table.login td.center { 
  color:#333333; 
  text-align:center; 
  font-size:10px; 
}
table.login td.center a { 
  color:#333333; 
  font-size:10px; 
}

form { 
  display:inline;
}
a { 
  color:#333333; 
  white-space:nowrap; 
  text-decoration:underline; 
}
.link { 
  color:#999999; 
  text-align:right; 
  font-size:12px;  
  white-space:nowrap; 
  vertical-align:top;
}
img { 
  position:relative; 
  float:left; 
  left:-14px;
}
p.error { 
  color: #ff4d4d; 
  display:inline; 
  font-weight:bold; 
}
.right input { 
  border:1px solid #0f4287; 
}

.cssbox, .cssbox_body, .cssbox_head, .cssbox_head h2 {
    background: transparent url(../images/roundbg.png) no-repeat bottom right;
}
.cssbox {
    width: 395px !important;
    width: 380px;
    padding-right: 15px;
    margin: 40px auto;
    text-align:left;
}
.cssbox_head {
    background-position: top right; 
    margin-right: -15px;
    padding-right: 40px;
}
.cssbox_head h2 {
    background-position: top left;
    margin: 0;
    border: 0;
    padding: 35px 0 15px 40px;
    height: 35px !important; height:40px;
}
.cssbox_body {
    background-position: bottom left;
    margin-right: 25px;
    padding: 15px 0 15px 40px;
}

