
body                    { background-color: #ffffff; font-family:arial,helvetica,sans-serif; color:#666666;}
a:link                  { color:#003d76; }
a:visited               { color:#003d76; }
a:hover                 { color:#688db0; }
h1                      { font-weight:bold; font-size:18px; }
h2                      { font-weight:bold; font-size:18px; }
h3                      { font-weight:bold; font-size:17px; }
form                    { display:inline; }
div.message             { border:1px solid #ff6a86; padding:10px; margin-bottom:7px; background-color:#fffcdd; }
.bad                    { color:red; font-weight:bold; font-size:15px; }
.good                   { color:green; font-weight:bold; font-size:15px; }
.help                   { color:black;  font-weight:bold; font-size:15px; }
.nobr                   { white-space:nowrap }

table.box               { border:1px solid #81a2c1; background-color:#f4f4f4; margin-bottom:7px; vertical-align:top; width:100%; } 
table.box th            { border-bottom:1px solid #81a2c1;  background: url(../images/bg_classic.jpg) repeat-x; color:#003d76; font-size:15px; } 
table.box th a:link     { font-weight:bold; color:#003d76; font-size:15px; }
table.box th a:visited  { font-weight:bold; color:#003d76; font-size:15px; }
table.box th a:hover    { font-weight:bold; color:#688db0; font-size:15px; }
th.right                { text-align:right; } 
table.box th.center     { text-align:center; } 
table.box th.right table{ width:40%; } 

td.menu                 { background-color:#f4f4f4;}
table.menu a:link       { color:#003d76; font-weight:bolder;        }
table.menu a:visited    { color:#003d76; font-weight:bolder;        }
table.menu a:hover      { color:#688db0; font-weight:bolder;  }
table.menu a.active     { color:#688db0; }
table.menu td           { font-size:14px; }
td.menu_pane_left       { text-align:left; width:55%;}
td.menu_pane_right      { text-align:right; width:45%;}
td.menu_pane_left table { width:100%;}
td.menu_pane_right table { width:100%;}

table.calendar          { width:100%; } 
table.calendar th       { background-color:#d4e0ec; color:#333333; border:0px; font-weight:normal; font-size:14px; }
table.calendar td       { background-color:#e4e4e4; width:14%; vertical-align:top;}
table.calendar td.today { background-color:#f4f4f4; width:14%;}
table.calendar td.header { text-align:center; font-weight:bold; width:14%;}

table.filter            { border:3px dashed #d4e0ec; background-color:#f9f9f9; padding:4px; margin:4px;}
table.filter th         { font-weight:bold; background-color:#f9f9f9; color:#333333; border-bottom:0px solid #ffffff; text-align:center; }
table.panel             { background-color:#e4e4e4; height:100%; }

td                      { color:#333333; font-size:14px; }
th                      { color:#333333;  text-align:left; }
tr.odd                  { background-color:#e4e4e4; }
tr.even                 { background-color:#f4f4f4; }
.really_overdue         { font-weight:bold; color: red}
.overdue                { color: red; }
td.print-label          { vertical-align:middle; text-align:right; }
.print-label            { font-weight:bold; }
.behind-target          { color: #ccaa00; }
.transaction-approved   { color: green; }
.transaction-pending    { color: black; }
.transaction-rejected   { color: red; }
.highlighted            { font-weight:normal; font-style:normal; background-color:#fffeb7; padding:0px 3px;}
      
ul                      { display:inline; list-style:circle inside; }
td.tasks                { background-color: #e4e4e4; }
td.tasks_r              { background-color: #e4e4e4; text-align:right; }
td.grand_total          { border-top:1px solid black;}
td.col                  { border-left:2px solid #cccccc;  border-top:2px solid #cccccc;}
td.com                  { border:2px solid #cccccc;}
textarea                { font-size:12px; }
input                   { font-size:12px; }
select                  { font-size:12px; }
textarea.timesheetcomm  { font-size:12px; }
#shrink_ts_note         { display:none; }
#shrink_tsi_note        { display:none; }
#ts_note                { height:22px; }
#tsi_note               { height:22px; }


