body { 
  ; 
  font-family:arial,helvetica,sans-serif; 
  color:; 
}
a:link, a:visited { 
  color:;
}
a:hover { 
  color:; 
}
h1 { 
  font-weight:bold; 
  font-size:19px; 
}
h2 { 
  font-weight:bold; 
  font-size:19px; 
}
h3 { 
  font-weight:bold; 
  font-size:18px; 
}
textarea, input, select, textarea { 
  font-size:15px; 
}
th { 
  color:; 
  text-align:left; 
}
td { 
  color:; 
  font-size:15px; 
}
ul { 
  display:inline; 
  list-style:circle inside; 
}
form { 
  display:inline; 
  padding:0px; 
  margin:0px;
}

.right { 
  text-align:right; 
} 
.left { 
  text-align:left; 
} 
.center { 
  text-align:center; 
} 
.nobr { 
  white-space:nowrap 
}




#helper { 
  position:absolute; 
  visibility:hidden; 
  z-index:200;  
}
table.helper_table { 
  background-color:#fffdf2; 
  color:#666666; border:1px solid #999999; 
  width:400px; 
  font-size:10px;
}



div.message { 
  padding:7px; 
  margin:7px; 
  margin-left:5px; 
  padding-left:0px; 
}
.bad { 
  color:; 
  font-weight:bold; 
  font-size:16px; 
}
.good { 
  color:; 
  font-weight:bold; 
  font-size:16px; 
}
.help { 
  color:;  
  font-weight:bold; 
  font-size:16px;
}

table.box { 
  border:1px solid #cccccc; 
  background-color:; 
  margin:7px; 
  margin-top:14px; 
  margin-bottom:0px; 
  vertical-align:top; 
  width:98%; 
} 
table.box th { 
  ; 
  color:; 
  font-size:16px; 
} 
table.box th.center { 
  text-align:center; 
} 
table.box th.right table { 
  width:40%; 
} 

table.box th a:link, table.box th a:visited { 
  font-weight:bold; 
  color:; 
  font-size:16px; 
}
table.box th a:hover { 
  font-weight:bold; 
  color:; 
  font-size:16px; 
}

table.calendar { 
  width:100%; 
  border-right:1px solid ; 
  border-bottom:1px solid ;
} 
table.calendar td { 
  background-color:; 
  border-left:1px solid ;  
  border-top:1px solid ; 
  width:14%; vertical-align:top;
}
table.calendar td.today { 
  background-color:; 
  width:14%;
}

table.filter { 
  background-color:; 
  border:2px dashed ; 
  padding:4px; 
  margin:4px; 
  margin-top:14px; 
  text-align:left;
}
table.filter th { 
  font-weight:bold; 
  background-color:; 
  color:; 
  border-bottom:0px solid #ffffff; 
  text-align:center; 
}

table.panel { 
  background-color:; 
  height:100%; 
  border:1px solid ; 
}

tr.odd { 
  background-color:; 
}
tr.even { 
  background-color:; 
}

.overdue { 
  color: ; 
}
.really_overdue { 
  font-weight:bold; 
  color: ;
}
.behind-target { 
  color: ; 
}
.transaction-approved { 
  color: ; 
}
.transaction-pending { 
  color: ; 
}
.transaction-rejected { 
  color: ; 
}
.highlighted { 
  font-weight:normal; 
  font-style:normal; 
  background-color:#fffeb7; 
  padding:0px 3px;
}

table.tasks { 
  width:100%; 
  border-right:1px solid ; 
  border-bottom:1px solid ;
}
td.tasks { 
  background-color: ; 
  padding:4px; 
}
table.tasks th, table.calendar th { 
  border-bottom:0px; 
  font-weight:bold; 
  white-space:nowrap; 
  background:; 
  color:; 
}
.col { 
  border-left:1px solid ; 
  border-top:1px solid ; 
  padding:4px;
}

.grand_total { 
  border-top:1px solid black;
}

table.comments { 
  border:1px solid ; 
  background:; 
  margin-bottom:4px; 
  margin-top:2px;
}
table.comments th { 
  text-align:left; 
  background:; 
  vertical-align:top; 
  color:; 
  font-weight:normal; 
  padding:4px; 
}
table.comments td { 
  padding:4px; 
}


/* Setup the main content box that encapsulates everything */
div#main {
  width:99%;
  padding-bottom:20px;
  background-color: white;
  margin:auto;
  border:1px solid #9c9c9c;
  position: relative;
  clear:both;
  text-align:left;
  margin-top:4px;
  margin-bottom:4px;
  border-top:0px;
  text-align:left;
}

div#header {
  display:inline;
  margin-left:6px;
  position:relative;
  text-align:left;
  float:left;
  font-size:120%;
  color:#444444;
}

div#header p {
  padding:0px;
  margin:0px;
  display:inline;
  position:relative;
  top:-6px;
}

/* A div that makes up the background line image for tabs */
div.tab_line_bg {
  white-space:nowrap;
  display:block;
  background:url(../images/tab_line_bg.gif) top right repeat-x;
  height:27px;
}

/* A single image based tab */
div.tab {
  float:left;
  position:absolute;
  background:url(../images/tab_unselected.gif) top no-repeat;
  display:inline;
  width:80px;
  height:27px;
  text-align:center;
  font-size:15px;
}

/* Active tabs use this class as well */
div.active {
  background:url(../images/tab_selected.gif) top no-repeat;
}

div.tab a {
  font-weight:bold;
  text-decoration:none;
  position:relative;
  top:8px;
  padding: 5px 10px;
}

div.tab a:link          { color:;  }
div.tab a:visited       { color:;  }
div.tab a:hover         { color:; }

div.active a:link, div.active a:visited {
  color:;
}

div#blocker {
  display:inline; 
  position:absolute; 
  right:-5px; 
  z-index:0;
}

div#menu_top_right {
  float:right;
  position:relative;
  right:0px;
  top:-12px;
  display:inline;
  font-size:15px;
  font-weight:bold;
  color:;
  background:;
  border-bottom:1px solid ;
  border-left:1px solid ;
  border-right:1px solid ;
  padding:6px;
  padding-top:8px;
  margin-top:0px;
}

p#extra_links {
  font-size:15px;
  font-weight:bold;
  display:inline; 
  float:right; 
  z-index:1; 
  top:-4px; 
  right:0px; 
  position:absolute; 
  padding-top:14px;
  margin-top:0px;
}



