
body                    { background-color: #445149; font-family:arial,helvetica,sans-serif; color:#ffffff;}
a:link                  { color:#000000; }
a:visited               { color:#000000; }
a:hover                 { color:#425749; }
h1                      { font-weight:bold; }
h2                      { font-weight:bold; }
h3                      { font-weight:bold; }
form                    { display:inline; }
div.message             { border:0px solid #ffffff; padding:10px; margin-bottom:7px; background-color:#afb8b1; }
.bad                 { color: #880000; font-weight:bold; }
.good                { color: #000000; font-weight:bold; }
.help                { color: #ffffff;  font-weight:bold; }

table.box               { border:0px solid #ffffff; background-color:#cccccc; margin-bottom:7px;} 
table.box th            { border-bottom:1px solid #ffffff;  background: url(../images/bg_clove.jpg) repeat-x; color:#dddddd;} 
table.box th a:link     { font-weight:bold; color:#dddddd; }
table.box th a:visited  { font-weight:bold; color:#dddddd; }
table.box th a:hover    { font-weight:bold; color:#ffffff; }
table.box th.right      { text-align:right; } 
table.box th.center     { text-align:center; } 
table.box th.right table{ width:40%; } 

table.toolbar           { border:1px solid #999999; color:#ffffff; background-color:#5c6a72; margin-bottom:7px;}
table.toolbar a:link    { color:#cccccc; font-weight:bolder;        }
table.toolbar a:visited { color:#cccccc; font-weight:bolder;        }
table.toolbar a:hover   { color:#ffffff; font-weight:bolder;  }
table.toolbar a.active  { color:#ffffff; }
table.toolbar th        { color:#cccccc; padding:3px 2px; font-weight:bold; background: url(../images/bg_clove.jpg) repeat-x; border-bottom:1px solid #999999;}
td.logout               { text-align:right; padding:3px 2px; font-weight:bold; background: url(../images/bg_clove.jpg) repeat-x; border-bottom:1px solid #999999;}

table.calendar th       { background-color:#8ca695; color:#333333; border:0px; font-weight:normal; }
table.calendar td       { background-color:#afb8b1; }
table.calendar td.today { background-color:#cccccc; }

table.filter            { border:3px dashed #8ca695; background-color:#afb8b1; padding:4px; margin:4px;}
table.filter th         { font-weight:bold; background-color:#afb8b1; color:#333333; border-bottom:0px solid #ffffff; text-align:center; }
table.panel             { background-color:#afb8b1; height:100%; }

td                      { color:#333333;  }
th                      { color:#333333;  text-align:left; }
tr.odd                  { background-color:#afb8b1; }
tr.even                 { background-color:#cccccc; }
.really_overdue         { font-weight:bold; color: #880000}
.overdue                { color: #880000; }
td.print-label          { vertical-align:middle; text-align:right; }
.print-label            { font-weight:bold; }
.behind-target          { color: #a6671d; }
.transaction-approved   { color: #000000; }
.transaction-pending    { color: #ffffff; }
.transaction-rejected   { color: #880000; }
.highlighted            { font-weight:bold;}
      
ul                      { display:inline; list-style:circle inside; }
td.tasks                { background-color: #afb8b1; }
td.tasks_r              { background-color: #afb8b1; text-align:right; }
td.grand_total          { border-top:1px solid black;}
textarea                { font-size:12px; }
input                   { font-size:12px; }
select                  { font-size:12px; }
textarea.timesheetcomm  { font-size:12px; }
#shrink_ts_note         { display:none; }
#shrink_tsi_note        { display:none; }
#ts_note                { height:22px; }
#tsi_note               { height:22px; }


