body                    { background-color: #496163; font-family:arial,helvetica,sans-serif; color:#ffffff;}

a:link, a:visited       { color:#000000; }
a:hover                 { color:#425749; }

h1                      { font-weight:bold; font-size:16px; }
h2                      { font-weight:bold; font-size:16px; }
h3                      { font-weight:bold; font-size:15px; }

textarea, input, select, textarea { font-size:12px; }

th                      { color:#333333; text-align:left; }
th.right                { text-align:right; } 
td                      { color:#333333; font-size:12px; }
ul                      { display:inline; list-style:circle inside; }

form                    { display:inline; }
.nobr                   { white-space:nowrap }

div.message             { border:1px solid #095853; padding:10px; margin-bottom:7px; background-color:#a0c9c5; }
.bad                    { color:#880000; font-weight:bold; font-size:13px; }
.good                   { color:#005e03; font-weight:bold; font-size:13px; }
.help                   { color:#444444;  font-weight:bold; font-size:13px; }

table.box               { border:1px solid #095853; background-color:#cccccc; margin-bottom:7px; vertical-align:top; width:100%; } 
table.box th            { border-bottom:1px solid #095853;  background: url(../images/bg_clove.jpg) repeat-x; color:#ffffff; font-size:13px; } 
table.box th a:link     { font-weight:bold; color:#ffffff; font-size:13px; }
table.box th a:visited  { font-weight:bold; color:#ffffff; font-size:13px; }
table.box th a:hover    { font-weight:bold; color:#dddddd; font-size:13px; }
table.box th.center     { text-align:center; } 
table.box th.right table { width:40%; } 

table.menu a:link       { color:#000000; font-weight:bolder;        }
table.menu a:visited    { color:#000000; font-weight:bolder;        }
table.menu a:hover      { color:#425749; font-weight:bolder;  }
table.menu a.active     { color:#425749; }
td.menu                 { background-color:#cccccc;}
td.menu_pane_left       { text-align:left; width:55%;}
td.menu_pane_right      { text-align:right; width:45%;}
td.menu_pane_left table { width:100%;}

table.calendar          { width:100%; border-right:1px solid #5d827e; border-bottom:1px solid #5d827e;} 
table.calendar td       { background-color:#a1b7b6; border-left:1px solid #5d827e;  border-top:1px solid #5d827e; width:14%; vertical-align:top;}
table.calendar td.today { background-color:#cccccc; width:14%;}

table.filter            { border:2px dashed #5d827e; background-color:#a1b7b6; padding:4px; margin:4px;}
table.filter th         { font-weight:bold; background-color:#a1b7b6; color:#333333; border-bottom:0px solid #ffffff; text-align:center; }

table.panel             { background-color:#a1b7b6; height:100%; border:1px solid #5d827e; }

tr.odd                  { background-color:#a1b7b6; }
tr.even                 { background-color:#cccccc; }

.overdue                { color: #880000; }
.really_overdue         { font-weight:bold; color: #880000}
.behind-target          { color: #a6671d; }

.transaction-approved   { color: #005e03; }
.transaction-pending    { color: #444444; }
.transaction-rejected   { color: #880000; }

.highlighted            { font-weight:normal; font-style:normal; background-color:#fffeb7; padding:0px 3px;}

table.tasks             { width:100%; border-right:1px solid #5d827e; border-bottom:1px solid #5d827e;}
td.tasks                { background-color: #a1b7b6; padding:4px; }

table.tasks th, table.calendar th { 
  border-bottom:0px; 
  font-weight:bold; 
  white-space:nowrap; 
  background:#a1b7b6; 
  color:#333333; 
}

.col                    { border-left:1px solid #5d827e; border-top:1px solid #5d827e; padding:4px;}

td.grand_total          { border-top:1px solid black;}

table.comments          { border:1px solid #5d827e; margin-bottom:4px; margin-top:2px; }
table.comments th       { text-align:left; background:#a1b7b6; vertical-align:top; color:#333333; border-bottom:1px solid #5d827e; font-weight:normal; padding:4px; }
table.comments td       { padding:4px; }


