body                    { ; font-family:arial,helvetica,sans-serif; color:;}

a:link, a:visited       { color:; }
a:hover                 { color:; }

#helper                 { position:absolute; visibility:hidden; z-index:200;  }
table.helper_table      { background-color:white; color:#666666; border:1px solid #999999; width:400px; font-size:10px;}

h1                      { font-weight:bold; font-size:13px; }
h2                      { font-weight:bold; font-size:13px; }
h3                      { font-weight:bold; font-size:12px; }

textarea, input, select, textarea { font-size:9px; }

th                      { color:; text-align:left; }
th.right                { text-align:right; } 
td                      { color:; font-size:9px; }
ul                      { display:inline; list-style:circle inside; }

form                    { display:inline; }
.nobr                   { white-space:nowrap }

div.message             { border:1px solid ; padding:10px; margin-bottom:7px; background-color:; }
.bad                    { color:; font-weight:bold; font-size:10px; }
.good                   { color:; font-weight:bold; font-size:10px; }
.help                   { color:;  font-weight:bold; font-size:10px; }

table.box               { border:1px solid #cccccc; background-color:; margin-bottom:7px; vertical-align:top; width:100%; } 
table.box th            { border-bottom:1px solid #cccccc;  ; color:; font-size:10px; } 
table.box th a:link     { font-weight:bold; color:; font-size:10px; }
table.box th a:visited  { font-weight:bold; color:; font-size:10px; }
table.box th a:hover    { font-weight:bold; color:; font-size:10px; }
table.box th.center     { text-align:center; } 
table.box th.right table { width:40%; } 

table.menu a:link       { color:; font-weight:bolder;        }
table.menu a:visited    { color:; font-weight:bolder;        }
table.menu a:hover      { color:; font-weight:bolder;  }
table.menu a.active     { color:; }
td.menu                 { background-color:;}
td.menu_pane_left       { text-align:left; width:55%;}
td.menu_pane_right      { text-align:right; width:45%;}
td.menu_pane_left table { width:100%;}

table.calendar          { width:100%; border-right:1px solid ; border-bottom:1px solid ;} 
table.calendar td       { background-color:; border-left:1px solid ;  border-top:1px solid ; width:14%; vertical-align:top;}
table.calendar td.today { background-color:; width:14%;}

table.filter            { border:2px dashed ; background-color:; padding:4px; margin:4px;}
table.filter th         { font-weight:bold; background-color:; color:; border-bottom:0px solid #ffffff; text-align:center; }

table.panel             { background-color:; height:100%; border:1px solid ; }

tr.odd                  { background-color:; }
tr.even                 { background-color:; }

.overdue                { color: ; }
.really_overdue         { font-weight:bold; color: }
.behind-target          { color: ; }

.transaction-approved   { color: ; }
.transaction-pending    { color: ; }
.transaction-rejected   { color: ; }

.highlighted            { font-weight:normal; font-style:normal; background-color:#fffeb7; padding:0px 3px;}

table.tasks             { width:100%; border-right:1px solid ; border-bottom:1px solid ;}
td.tasks                { background-color: ; padding:4px; }

table.tasks th, table.calendar th { 
  border-bottom:0px; 
  font-weight:bold; 
  white-space:nowrap; 
  background:; 
  color:; 
}

.col                    { border-left:1px solid ; border-top:1px solid ; padding:4px;}

td.grand_total          { border-top:1px solid black;}

table.comments          { border:1px solid ; margin-bottom:4px; margin-top:2px; }
table.comments th       { text-align:left; background:; vertical-align:top; color:; border-bottom:1px solid ; font-weight:normal; padding:4px; }
table.comments td       { padding:4px; }


