body                    { background-color: #eeeeee; font-family:arial,helvetica,sans-serif; color:#666666; }

a:link, a:visited       { color:#003d76; }
a:hover                 { color:#688db0; }

#helper                 { position:absolute; visibility:hidden; z-index:200;  }
table.helper_table      { background-color:#fffdf2; color:#666666; border:1px solid #999999; width:400px; font-size:10px;}

h1                      { font-weight:bold; font-size:19px; }
h2                      { font-weight:bold; font-size:19px; }
h3                      { font-weight:bold; font-size:18px; }

textarea, input, select, textarea { font-size:15px; }

th                      { color:#444444; text-align:left; }
th.right                { text-align:right; } 
td                      { color:#444444; font-size:15px; }
ul                      { display:inline; list-style:circle inside; }

form                    { display:inline; padding:0px; margin:0px;}
.nobr                   { white-space:nowrap }

div.message             { padding:7px; margin:7px; margin-left:5px; padding-left:0px; }
.bad                    { color:red; font-weight:bold; font-size:16px; }
.good                   { color:green; font-weight:bold; font-size:16px; }
.help                   { color:black;  font-weight:bold; font-size:16px; }

table.box               { border:1px solid #b8c2cf; background-color:#f9f9f9; margin:7px; margin-top:14px; margin-bottom:0px; vertical-align:top; width:98%; } 
table.box th            { background: url(../images/bg_default.jpg) repeat-x; color:#688db0; font-size:16px; } 
table.box th.center     { text-align:center; } 
table.box th.right table { width:40%; } 

table.box th a:link, table.box th a:visited { font-weight:bold; color:#003d76; font-size:16px; }
table.box th a:hover    { font-weight:bold; color:#688db0; font-size:16px; }

table.calendar          { width:100%; border-right:1px solid #87abd7; border-bottom:1px solid #87abd7;} 
table.calendar td       { background-color:#f9f9f9; border-left:1px solid #87abd7;  border-top:1px solid #87abd7; width:14%; vertical-align:top;}
table.calendar td.today { background-color:#e8eff9; width:14%;}

table.filter            { background-color:#e8eff9; border:2px dashed #87abd7; padding:4px; margin:4px; margin-top:14px; text-align:left;}
table.filter th         { font-weight:bold; background-color:#e8eff9; color:#444444; border-bottom:0px solid #ffffff; text-align:center; }

table.panel             { background-color:#e8eff9; height:100%; border:1px solid #87abd7; }

tr.odd                  { background-color:#e8eff9; }
tr.even                 { background-color:#f9f9f9; }

.overdue                { color: red; }
.really_overdue         { font-weight:bold; color: red}
.behind-target          { color: #ccaa00; }

.transaction-approved   { color: green; }
.transaction-pending    { color: black; }
.transaction-rejected   { color: red; }

.highlighted            { font-weight:normal; font-style:normal; background-color:#fffeb7; padding:0px 3px;}

table.tasks             { width:100%; border-right:1px solid #87abd7; border-bottom:1px solid #87abd7;}
td.tasks                { background-color: #e8eff9; padding:4px; }

table.tasks th, table.calendar th { 
  border-bottom:0px; 
  font-weight:bold; 
  white-space:nowrap; 
  background:#d3e5fb; 
  color:#444444; 
}

.col                    { border-left:1px solid #87abd7; border-top:1px solid #87abd7; padding:4px;}

.grand_total            { border-top:1px solid black;}

table.comments          { border:1px solid #87abd7; background:#e8eff9; margin-bottom:4px; margin-top:2px; }
table.comments th       { text-align:left; background:#e8eff9; vertical-align:top; color:#444444; font-weight:normal; padding:4px; }
table.comments td       { padding:4px; }


/* Setup the main content box that encapsulates everything */
div#main {
  width:99%;
  padding-bottom:20px;
  background-color: white;
  margin:auto;
  border:1px solid #9c9c9c;
  position: relative;
  clear:both;
  text-align:left;
  margin-top:4px;
  margin-bottom:4px;
  border-top:0px;
  text-align:left;
}

div#header {
  display:inline;
  margin-left:6px;
  position:relative;
  text-align:left;
  float:left;
  font-size:120%;
  color:#444444;
}

div#header p {
  padding:0px;
  margin:0px;
  display:inline;
  position:relative;
  top:-6px;
}

/* A div that makes up the background line image for tabs */
div.tab_line_bg {
  white-space:nowrap;
  display:block;
  background:url(../images/tab_line_bg.gif) top right repeat-x;
  height:27px;
}

/* A single image based tab */
div.tab {
  float:left;
  position:absolute;
  background:url(../images/tab_unselected.gif) top no-repeat;
  display:inline;
  width:80px;
  height:27px;
  text-align:center;
  font-size:15px;
}

/* Active tabs use this class as well */
div.active {
  background:url(../images/tab_selected.gif) top no-repeat;
}


div.tab a {
  font-weight:bold;
  text-decoration:none;
  position:relative;
  top:8px;
}

div.tab a:link          { color:#003d76;  }
div.tab a:visited       { color:#003d76;  }
div.tab a:hover         { color:#688db0; }

div.active a:link, div.active a:visited {
  color:#688db0;
}

div#blocker {
  display:inline; 
  position:absolute; 
  right:-5px; 
  z-index:0;
}

div#menu_top_right {
  float:right;
  position:relative;
  right:0px;
  top:-12px;
  display:inline;
  font-size:15px;
  font-weight:bold;
  color:#003d76;
  background:#d3e5fb;
  border-bottom:1px solid #87abd7;
  border-left:1px solid #87abd7;
  border-right:1px solid #87abd7;
  padding:6px;
  padding-top:8px;
  margin-top:0px;
}


p#extra_links {
  font-size:15px;
  font-weight:bold;
  display:inline; 
  float:right; 
  z-index:1; 
  top:-4px; 
  right:0px; 
  position:absolute; 
  padding-top:14px;
  margin-top:0px;
}



